.card {
  position: relative;
  border: 1px solid rgba(255, 255, 255, .2);
  color: #FFF;
  width: calc(25% - 10px);
  padding: 15px 15px 70px;
  margin-bottom: 20px;
  overflow: hidden;
}


@media screen and (max-width: 499px) {
  .card {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .card {
    width: calc(50% - 10px);
  }
}

@media screen and (min-width: 900px) {
  .card {
    width: calc(25% - 10px);
  }
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.cardTitle {
  font-weight: 100;
}

.price {
  font-size: 20px;
}

.dataContainer {
  padding: 20px 0;
}

.dataRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 5px;
  margin: 0 -5px;
}

.dataRow:nth-child(2n) {
  background: rgba(255, 255, 255, .02);
}

.cardModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1A1A21;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(110%);
  transition: .2s ease all;
}

.cardModal.isOpen {
  transform: translateY(0);
}

.bottomActions {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0
}

.cancelBtn {
  color: #C62828;
}

.cardBtn {
  /*position: absolute;*/
  width: 100%;
  height: 50px;
  background: none;
  border: none;
  font-size: 14px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #FFF;
  left: 0;
  bottom: 0;
  cursor: pointer;
  border-top: 1px solid rgba(255, 255 ,255, .2);
  border-radius: 0;
  transition: .2s ease all;
}

.cardBtn:hover {
  background: #0091EA;
}

.buyBtn,
.sellBtn {
  border-right: 1px solid rgba(255, 255, 255, .2);
}

.sellBtn {
  left: auto;
  right: 0;
}

.transactionInput {
  background: none;
  width: 33%;
  text-align: center;
  margin: 20px auto;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  font-size: 30px;
  padding: 10px 0;
}

.cardError {
  position: absolute;
  top: 0;
  padding: 15px;
  width: 100%;
  font-size: 13px;
}
