.navbar {
  width: 100%;
  height: 60px;
  padding: 0 40px 10px;
  background-color: #1A1A21;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.navLink {
  color: #FFF;
  margin-right: 2em;
  text-decoration: none;
  padding-bottom: .5em;
}

.navLink.isActive {
  border-bottom: 3px solid #009688;
}

.balance {
  font-size: 20px;
}

.editFundsBtn {
  border: none;
  border-radius: 0;
  background: #0091EA;
  color: #FFF;
  font-size: 14px;
  padding: .75em;
  margin-left: 1em;
}
